### Download the dataset and dependencies

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv'

In [3]:
!wget $data

--2025-10-12 17:45:01--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8002::154, 2606:50c0:8001::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv’

course_lead_scoring 100%[===================>]  78.98K  --.-KB/s    in 0.03s

2025-10-12 17:45:02 (2.33 MB/s) - ‘course_lead_scoring.csv’ saved [80876/80876]

In [4]:
df = pd.read_csv('course_lead_scoring.csv')

In [5]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

### Preparation

In [6]:
# Check missing values
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [13]:
# Check the type of columns
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [14]:
df.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [15]:
numerical = ['number_of_courses_viewed','annual_income','interaction_count','lead_score']

In [16]:
df.columns = df.columns.str.lower().str.replace(' ','_')
categorical = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical:
    df[c] = df[c].str.lower().str.replace(' ','_')

In [32]:
categorical

['lead_source', 'industry', 'employment_status', 'location']

In [33]:
# Filling missing value for categorical and numerical data
df_copy = df.copy()

df_copy[categorical] = df_copy[categorical].fillna('NA')
df_copy[numerical] = df_copy[numerical].fillna(0.0)

In [34]:
df_copy.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

**Question 1: What is the most frequent observation (mode) for the column industry?**

In [35]:
# Check the most frequent observation mode for industry
df_copy.industry.value_counts()

retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: industry, dtype: int64

**Question 2: What are the two features that have the biggest correlation?**

In [36]:
# Split the dataset
df_full_train,df_test = train_test_split(df_copy,test_size=0.2,random_state=42)

In [37]:
len(df_copy),len(df_full_train), len(df_test)

(1462, 1169, 293)

In [40]:
df_train,df_val = train_test_split(df_full_train,test_size=0.25,random_state=1)

In [41]:
len(df_copy),len(df_train), len(df_test), len(df_val)

(1462, 876, 293, 293)

In [42]:
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)

In [43]:
y_train = df_train.converted.values
y_test = df_test.converted.values
y_val = df_val.converted.values

In [44]:
del df_train['converted']
del df_test['converted']
del df_val['converted']

In [45]:
# Check whether the target vaiable in X
df_train.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score'],
      dtype='object')

In [46]:
df_full_train = df_full_train.reset_index(drop=True)

In [47]:
df_full_train

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,social_media,manufacturing,2,44403.0,self_employed,australia,1,0.71,0
1,events,retail,3,38048.0,student,north_america,6,0.97,1
2,social_media,education,2,71399.0,NA,europe,1,0.51,1
3,referral,education,2,47912.0,employed,australia,1,0.04,0
4,paid_ads,healthcare,1,34806.0,employed,europe,4,0.32,1
...,...,...,...,...,...,...,...,...,...
1164,events,manufacturing,1,57039.0,employed,south_america,2,0.30,0
1165,events,healthcare,2,56185.0,student,south_america,2,0.44,0
1166,paid_ads,manufacturing,1,56402.0,student,north_america,1,0.02,0
1167,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1168,events,manufacturing,0,43862.0,self_employed,asia,4,0.21,0

In [51]:
# Compute the correlation
corr_socre = df_full_train[numerical].corrwith(df_full_train.converted)

In [56]:
corr_socre.sort_values(ascending=False)

number_of_courses_viewed    0.442068
interaction_count           0.378482
lead_score                  0.225641
annual_income               0.029612
dtype: float64

In [57]:
corr_matrix = df_full_train[numerical].corr()
corr_matrix

,number_of_courses_viewed,annual_income,interaction_count,lead_score
number_of_courses_viewed,1.000000,0.012227,-0.044381,0.009427
annual_income,0.012227,1.000000,0.011959,0.021273
interaction_count,-0.044381,0.011959,1.000000,0.025393
lead_score,0.009427,0.021273,0.025393,1.000000

In [58]:
corr_matrix.abs()

,number_of_courses_viewed,annual_income,interaction_count,lead_score
number_of_courses_viewed,1.000000,0.012227,0.044381,0.009427
annual_income,0.012227,1.000000,0.011959,0.021273
interaction_count,0.044381,0.011959,1.000000,0.025393
lead_score,0.009427,0.021273,0.025393,1.000000

**Question 3: Which of these variables has the biggest mutual information score?**

In [59]:
from sklearn.metrics import mutual_info_score

In [62]:
def mutaol_info_converted_socre(series):
    return mutual_info_score(series, df_full_train.converted)

In [63]:
mi = df_full_train[categorical].apply(mutaol_info_converted_socre)
mi.sort_values(ascending=False)

lead_source          0.025665
employment_status    0.013258
industry             0.011685
location             0.002253
dtype: float64

**Question 4: What accuracy did you get?**

In [64]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [65]:
dv = DictVectorizer(sparse= False)

In [80]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)

In [81]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [82]:
train_dicts = df_train[categorical + numerical].to_dict(orient='records')

In [83]:
dv.fit(train_dicts)

DictVectorizer(sparse=False)

In [84]:
dv.get_feature_names_out()

array(['annual_income', 'employment_status=NA',
       'employment_status=employed', 'employment_status=self_employed',
       'employment_status=student', 'employment_status=unemployed',
       'industry=NA', 'industry=education', 'industry=finance',
       'industry=healthcare', 'industry=manufacturing', 'industry=other',
       'industry=retail', 'industry=technology', 'interaction_count',
       'lead_score', 'lead_source=NA', 'lead_source=events',
       'lead_source=organic_search', 'lead_source=paid_ads',
       'lead_source=referral', 'lead_source=social_media', 'location=NA',
       'location=africa', 'location=asia', 'location=australia',
       'location=europe', 'location=middle_east',
       'location=north_america', 'location=south_america',
       'number_of_courses_viewed'], dtype=object)

In [85]:
dv.transform(train_dicts[:5][0])

array([[0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 1.  , 0.  , 4.  , 0.47, 0.  , 0.  , 1.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ]])

In [86]:
X_train = dv.transform(train_dicts)

In [87]:
X_train.shape

(876, 31)

In [88]:
X_train = dv.fit_transform(train_dicts)
X_train.shape

(876, 31)

In [89]:
val_dicts = df_val[categorical + numerical].to_dict(orient='records')

In [124]:
X_val = dv.transform(val_dicts)

In [125]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [126]:
model.intercept_[0]

-0.221349834455288

In [127]:
model.coef_[0].round(2)

array([-0.  , -0.01,  0.07, -0.01, -0.  , -0.27, -0.07,  0.11, -0.07,
       -0.03, -0.02, -0.04, -0.06, -0.04,  0.42,  0.08,  0.  , -0.06,
       -0.03, -0.23,  0.14, -0.04,  0.  , -0.05, -0.03, -0.01, -0.02,
       -0.01, -0.06, -0.05,  0.74])

In [128]:
y_pred = model.predict_proba(X_val)[:,1]

In [130]:
converted_result = (y_pred >=0.5)

In [131]:
acc_socre = (y_val==converted_result).mean()
round(acc_socre,2)

0.74

In [132]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = converted_result.astype(int)
df_pred['actual'] = y_val

In [133]:
df_pred['correct'] = df_pred.prediction == df_pred.actual

In [134]:
df_pred

     probability  prediction  actual  correct
0       0.870271           1       1     True
1       0.837765           1       1     True
2       0.906976           1       0    False
3       0.818369           1       1     True
4       0.947875           1       1     True
..           ...         ...     ...      ...
288     0.221139           0       0     True
289     0.833416           1       1     True
290     0.308632           0       0     True
291     0.578500           1       1     True
292     0.625633           1       0    False

[293 rows x 4 columns]

In [135]:
df_pred.correct.astype(int).mean()

0.7440273037542662

In [136]:
from sklearn.metrics import accuracy_score

In [137]:
acc_base = accuracy_score(y_val, converted_result)
acc_base,round(acc_base,2)

(0.7440273037542662, 0.74)

**Question 5: Which of following feature has the smallest difference?**

In [152]:
features = categorical + numerical

df_train_copy = df_train.copy()
df_val_copy = df_val.copy()

scores = {}

for f in features:  
    train_dicts_rm = df_train_copy[categorical + numerical].drop(columns=[f]).to_dict(orient='records')
    val_dicts_rm = df_val_copy[categorical + numerical].drop(columns=[f]).to_dict(orient='records')
    
    dv = DictVectorizer(sparse=False)
    
    X_train_rm = dv.fit_transform(train_dicts_rm)
    X_val_rm = dv.transform(val_dicts_rm)
    
    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train_rm,y_train)
    
    y_pred = model.predict_proba(X_val_rm)[:,1]
    

#     acc = accuracy_score(y_val,y_pred)
    converted_result = (y_pred >=0.5)
    acc_rm = (y_val==converted_result).mean()
    print(acc_rm)
    
    scores[f] = acc_socre -  acc_rm

0.7952218430034129
0.7337883959044369
0.7952218430034129
0.7440273037542662
0.7098976109215017
0.8839590443686007
0.7064846416382252
0.7406143344709898

In [153]:
pd.Series(scores).sort_values(ascending=False)

interaction_count           0.037543
number_of_courses_viewed    0.034130
industry                    0.010239
lead_score                  0.003413
location                    0.000000
lead_source                -0.051195
employment_status          -0.051195
annual_income              -0.139932
dtype: float64

**Question 6: Which of these C leads to the best accuracy on the validation set?**

In [158]:
C = [0.01, 0.1, 1, 10, 100]
C_scores = {}
dv = DictVectorizer(sparse= False)
X_train = dv.fit_transform(train_dicts)
X_val = dv.transform(val_dicts)

for c in C:   
    model = LogisticRegression(solver='liblinear', C=c, max_iter=1000, random_state=42)
    model.fit(X_train,y_train)
    
    y_pred = model.predict(X_val)
    c_acc = accuracy_score(y_val,y_pred)
    
    C_scores[c] = c_acc
    

print(C_scores)

{0.01: 0.7440273037542662, 0.1: 0.7440273037542662, 1: 0.7440273037542662, 10: 0.7440273037542662, 100: 0.7440273037542662}